@media (max-width: 768px){
    .autor{
        font-size: large;
    }

    .imgFruta{
    height: 2000px;
    width: 107px;
    }
}

body{
    margin: 0px;
    background-color: white;
}

main{
    /* border: 2px solid black; */
    background-color: white;
} 

#seccionFrutas ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px;
}  

#listaFrutas{
    width: 12vw;
    height: 22vh;
    padding: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
}

.bloque-item h3{
    text-align: end;
}

.imgFruta{
    height: 104px;
    width: 64px;
}

.cabezera{
    display: flex;
    /* border: 4px green solid; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(15, 175, 82, 0.92);
    color: white;
    
}

.busqueda{
    display: flex;
    gap: 60px;
}

.botones{
    display: flex;
    gap: 10px;
}

.navegador{
    /* border: 2px blue solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    
}

/*  imagen carrito */
.carritoimg {
    padding-bottom: 0%;
    margin-bottom: 0px;
    margin-top: 0px;
    /* border: 2px red solid; */
    height: 7vh;
    width: 7vh;
}

#asidecarrito li{
    /* border: 2px solid;  */
    display: flex;
    justify-content: space-between;
} 

.listaCarrito{
    border: 10px red;
    /* display: ; */
}

.listaCarrito .bloque-item{
    border: 10px red;
    /* display: ; */
}

.botonEliminar{
    border-radius: 5px;
    border-color: red;
    background-color: red;
    color: white;
}

.carrito-titulo{
    text-align: center;
}

.autor{
    margin-bottom: 6px;
    margin-top: 13px;
}

#barraBusqueda{
    border-radius: 3px;
    border-color: rgba(255, 255, 255, 0.535);
    height: 2.5vh;
    width: 7.8vw;
}

/* Pseudoclases*/

.carrito:active{
    background-color: rgb(31, 105, 185);
}

.botonAgregar{
    border-radius: 4px;
    font-family: "Play", sans-serif;;
    border-color: rgba(178, 151, 115, 0.129);
    background-color: rgba(15, 175, 82, 0.92);
    color: aliceblue;
}

.botonessection{
    font-family: "Play", sans-serif;;
    border-color: rgba(178, 151, 115, 0.129);
    background-color: rgba(15, 175, 82, 0.92);
    color: aliceblue;
    margin-top: 9px;
    border-radius: 6px;
}

.botonAgregar:hover{
    cursor: pointer;
    color: blueviolet(89, 155, 226, 0.734);
}

.botonAgregar:active{
    color: rgb(7, 53, 102);
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 3px solid; */
    margin-top: 0px;
}

.principal .total{
    border: 6px;
    text-align: end;
    margin-right: 8px;
}

.div-Frutas-Texto{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.div-Frutas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.principal li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 300px;
}

.principal h3 {
    border: 2px solid;
    margin-top: 0px;
    text-align: center;
}
